<div class="page-header">
  <h1>Список обьявлений</h1>
</div>
<div class="container col-md-6" id="orders">
  <%= render partial: 'orders'  %>
</div>

<div class="container col-md-6">
  <div id="map" style="height:600px;width:100%;"></div>
  <%= render_map %>
</div>
