@import "bootstrap";

body {
  background-color: #639da2;
  height: 100%;
}

a {
  color: #ffffff;
}

#wrapper {
  width: 1600px;
  margin: 0 auto;
}

#header {
  width: 1000px;
  margin: 0 auto;
  height: 50px;
  background-color: #4c4c4c;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  border-radius: 8px;
  -o- border-radius: 8px;
  -moz- border-radius: 8px;
  -webkit- border-radius: 8px;
  border: 2px solid #fff600;
}

#content {
  overflow: hidden;
}

h1 {
  text-align: center;
}

#map {
  width: 600px;
  height: 300px;
  float: left;
  background: #6ecba7;
}

#sort {
  width: 1000px;
  height: 150px;
  float: right;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#sort li {
  float: left;
  padding: 10px 30px;
}

#listings {
  overflow: hidden;
  float: right;
  width: 1000px;
  height: 700px;
}

#paragraph {
  width: 200px;
  height: 200px;
  background: #6287e7;
  margin: 15px;
  float: left;
}
